# OS
.DS_Store
Thumbs.db

# IDEs
.buildpath
.project
.settings/
.build/
.idea/
public/
nbproject/

node_modules

#Hugo
.hugo_build.lock
node_modules
check-links.log
html-validate.log
hugo-audit.log
md-lint.log
resources
