{{- $ctx := . -}}
{{- $inAlt := .Text -}}
{{- $inTitle := .Title }}
{{- $inDestination := .Destination -}}
{{- $inPage := .Page }}
{{- $inAddLink := true }}
{{- $destination := split $inDestination "#" }}
{{- $fullImage := resources.Get (index $destination 0) -}}
{{- if not $fullImage -}}
    {{- $fullImage = ($inPage.Resources.ByType "image").GetMatch (printf "*%s*" (index $destination 0)) -}}
{{- end -}}
{{- $addLink := false -}}
{{- if $inAddLink -}}
    {{- $addLink = ($inPage.Params.linkFullImages | default $inPage.Site.Params.linkFullImages) | default false }}
{{- end -}}

{{- if $fullImage }}
    {{- $final_destination := cond (isset $destination 1) (printf "%s#%s" ($fullImage.RelPermalink) (index $destination 1)) ($fullImage.RelPermalink) -}}
    {{- if $addLink }}<a href="{{ $final_destination }}" target="_blank" rel="noopener noreferrer">{{ end -}}
<img src="{{ $fullImage.RelPermalink }}" alt="{{ $inAlt }}"{{ with $inTitle }} title="{{ . }}" {{ end }} width="{{ $fullImage.Width }}" height="{{ $fullImage.Height }}">
    {{- if $addLink }}</a>{{- end }}
{{- else }}
<img src="{{ (index $destination 0) | safeURL }}" alt="{{ $inAlt }}" {{ with $inTitle}} title="{{ . }}" {{ end }}>
{{- end -}}
{{- /* Drop trailing newlines */ -}}
