/* Set base CSS vars */
@import '../scss/common-mixins.scss';

:root {
    {{- with .Params.fontSizeBase | default .Site.Params.fontSizeBase | default "16px" }}
    --base-font-size: {{ . }};
    {{- end -}}
    {{- with .Params.colourBackgroundDocument | default .Site.Params.colorBackgroundDocument | default "#eee" }}
    --whole-doc-bg-colour: {{ . -}};
    {{- end -}}
    {{- with .Params.colourBackgroundSectionMap | default .Site.Params.colorBackgroundSectionMap | default "#ccc" }}
    --section-map-bg-colour: {{ . -}};
    {{- end -}}
    {{- with .Params.colourBackgroundNoticeSubtle | default .Site.Params.colorBackgroundNoticeSubtle | default "#f9f9f9" }}
    --subtle-notice-bg-colour: {{ . -}};
    {{- end -}}
    {{- with .Params.colourMenuContext | default .Site.Params.colorMenuContext | default "#333" }}
    --context-menu-colour: {{ . -}};
    {{- end -}}
    {{- with .Params.colourBackgroundMenuContext | default .Site.Params.colorBackgroundMenuContext | default "#d0d0d0" }}
    --context-menu-bg-colour: {{ . -}};
    {{- end -}}
    {{- with .Params.colourLinkMenuContext | default .Site.Params.colorLinkMenuContext | default "#0000c9" }}
    --context-menu-link-colour: {{ . -}};
    {{- end -}}
    {{- with .Params.colourLinkVisiteMenuContext | default .Site.Params.colorLinkVisitedMenuContext | default "#c900c9" }}
    --context-menu-visited-link-colour: {{ . -}};
    {{- end -}}
    {{- with .Params.colourNoticeSubtle | default .Site.Params.colorNoticeSubtle | default "#494949" }}
    --subtle-notice-colour: {{ . -}};
    {{- end -}}
    {{- with .Params.colourLinkNoticeSubtle | default .Site.Params.colorLinkNoticeSubtle | default "#0000c9" }}
    --subtle-notice-link-colour: {{ . -}};
    {{- end -}}
    {{- with .Params.colourLinkVisitedNoticeSubtle | default .Site.Params.colorLinkVisitedNoticeSubtle | default "#c900c9" }}
    --subtle-notice-visited-link-colour: {{ . -}};
    {{- end -}}
    {{- with .Params.colourLink | default .Site.Params.colourLink | default "#00a" }}
    --link-colour: {{ . -}};
    {{- end -}}
    {{- with .Params.colourVisitedLink | default .Site.Params.colourVisitedLink | default "#a0a" }}
    --link-visited-colour: {{ . -}};
    {{- end -}}
    {{- with .Params.colourLinkSummary | default .Site.Params.colourLinkSummary | default "#05a" }}
    --summary-link-colour: {{ . -}};
    {{- end -}}
    {{- with .Params.colourBackgroundMainNav | default .Site.Params.colourBackgroundMainNav | default .Site.Params.background_color_class | default "#111" }}
    --main-nav-bg-colour: {{ . -}};
    {{- end -}}
    {{- with .Params.colourMainNav | default .Site.Params.colourMainNav | default "#ddd" }}
    --main-nav-fg-colour: {{ . -}};
    {{- end -}}
    {{- with .Params.colourMainText | default .Params.text_color | default .Site.Params.colourMainText | default .Site.Params.text_color | default "#333" }}
    --main-text-colour: {{ . -}};
    {{- end -}}
    {{- with .Params.colourInactiveText |  default .Site.Params.colourInactiveText | default "#888" }}
    --inactive-text-colour: {{ . -}};
    {{- end -}}
    {{- with .Params.colourPreCode | default .Site.Params.colourPreCode | default "#dfdfdf" }}
    --pre-code-fg-colour: {{ . -}};
    {{- end -}}
    {{- with .Params.colourBackgroundPreCode | default .Site.Params.colourBackgroundPreCode | default "#191919" }}
    --pre-code-bg-colour: {{ . -}};
    {{- end -}}
    {{- with .Params.colourBackgroundTableHeading | default .Site.Params.colourBackgoundTableHeading | default "silver" }}
    --table-heading-bg-colour: {{ . -}};
    {{- end -}}
    {{- with .Params.colourBackgroundTableRowEven | default .Site.Params.colourBackgoundTableRowEven | default "lightgray" }}
    --table-even-row-bg-colour: {{ . -}};
    {{- end -}}
    {{- with .Params.defaultFontFamily | default .Site.Params.defaultFontFamily | default "avenir" }}
    @include chooseFontFamily("--default-font-family", "{{ . }}");
    {{- end -}}
    {{- with .Site.Params.messageIntenseTitleFontFamily | default "avenir" }}
    @include chooseFontFamily("--message-intense-title-font-family", "{{ . }}");
    {{- end -}}
    {{- with .Site.Params.messageIntenseTitleBackgroundColour | default "#111" }}
    --message-intense-title-background-colour: {{ . -}};
    {{- end -}}
    {{- with .Site.Params.messageIntenseTitleColour | default "#ccc" }}
    --message-intense-title-colour: {{ . -}};
    {{- end -}}
    {{- with .Site.Params.messageIntenseNoticeBoxColor | default "#000" }}
    --message-intense-notice-box-colour: {{ . -}};
    {{- end -}}
    {{- with .Site.Params.messageIntenseNoticeBoxBackgroundColour | default "#888" }}
    --message-intense-notice-box-background-colour: {{ . -}};
    {{- end -}}
    {{- with .Site.Params.messageIntenseNoticeBoxLinkColor | default "#fff" }}
    --message-intense-notice-box-link-colour: {{ . -}};
    {{- end -}}
    {{- with .Params.titleOverImageColour | default .Params.title_over_image_color_class | default .Site.Params.titleOverImageColour | default .Site.Params.title_over_image_color_class | default "#ddd" }}
    --title-over-image-colour: {{ . -}};
    {{- end -}}
    {{- with .Params.imageFeaturedPaddingColour | default .Params.image_padding_color_class | default .Site.Params.imageFeaturedPaddingColour | default .Site.Params.image_padding_color_class | default "#333" }}
    --featured-image-padding-colour: {{. -}};
    {{- end }}
    --hamburger-icon: url("{{ (resources.Get "/dananke/images/hamburger.svg").Permalink }}");
    {{- with .Params.header_image_opacity | default .Site.Params.header_image_opacity }}
    @include translateTachyonsOpacity("--featured-image-opacity",{{ . -}});
    {{- else -}}
        {{- with .Params.imageFeaturedOpacity | default .Site.Params.imageFeaturedOpacity | default ".7" }}
    --featured-image-opacity: {{ . -}};
        {{- end -}}
    {{- end }}
    {{- with .Params.backgroundDefaultColour | default .Params.background_color_class | default .Site.Params.backgroundDefaultColour | default .Site.Params.background_color_class | default "#000" }}
    --default-background-colour: {{ . -}};
    {{- end }}
    {{- with .Params.socialHoverBackgroundColour | default .Site.Params.socialHoverBackgroundColour | default "#2a2a2a" }}
    --social-hover-bg-colour: {{. -}};
    {{- end }}
    {{- with .Params.colourFormContact | default .Site.Params.colorFormContact | default "#1f1f1f" }}
    --contact-form-colour: {{ . -}};
    {{- end -}}
    {{- with .Params.colourBorderFormContact | default .Site.Params.colorBorderFormContact | default "#777" }}
    --contact-form-border-colour: {{ . -}};
    {{- end -}}
    {{- with .Params.colourBackgroundFormContact | default .Site.Params.colorBackgroundFormContact | default "#d0d0d0" }}
    --contact-form-bg-colour: {{ . -}};
    {{- end -}}
    {{- with .Params.colourPreCode | default .Site.Params.colorPreCode | default "#f8f8f2" }}
    --pre-code-colour: {{ . -}};
    {{- end -}}
    {{- with .Params.colourBackgroundPreCode | default .Site.Params.colorBackgroundPreCode | default "#000" }}
    --pre-code-bg-colour: {{ . -}};
    {{- end -}}
    {{- with .Params.colourBorderPreCode | default .Site.Params.colorBorderPreCode | default "#ddd" }}
    --pre-code-border-colour: {{ . -}};
    {{- end -}}
    {{- with .Params.colourPCode | default .Site.Params.colorPCode | default "#444" }}
    --p-code-colour: {{ . -}};
    {{- end -}}
    {{- with .Params.colourBackgroundCode | default .Site.Params.colorBackgroundCode | default "#fff" }}
    --p-code-bg-colour: {{ . -}};
    {{- end -}}
}
