@import 'common-mixins.scss';

@mixin clear-fix($selector) {
    .#{$selector}:after, .#{$selector}:before {
        content: " ";
        display: table;
    }

    .#{$selector}:after {
        clear: both;
    }
}

@mixin center-block {
    margin-left: auto;
    margin-right: auto;
}

html {
    font-size: var(--base-font-size, 14pt);
}

body, input, textarea, button {
    font-size: var(--base-font-size, 14pt);
}

.whole-body {
    background-color: var(--whole-doc-bg-colour, #eee);
    display: flex;
    flex-flow: column nowrap;
    font-family: var(--default-font-family, sans-serif);
    font-size: 16pt;
    left: 0;
    line-height: 1.2;
    margin: 0;
    position: relative;
    top: 0;
    z-index: 0;
}

.border-box, a, article, aside, blockquote, body, code, dd, div, dl, dt, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, html, input[type=email], input[type=number], input[type=password], input[type=tel], input[type=text], input[type=url], legend, li, main, nav, ol, p, pre, section, table, td, textarea, th, tr, ul {
    box-sizing: border-box;
}

.content-box, hr {
    box-sizing: content-box;
}

.main-block {
    display: block;
    padding-bottom: 0;
}

.nav-page-dananke {
    font-size: 1.2rem;
    overflow: visible;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
}

.main-navigation {
    background-color: var(--main-nav-bg-colour, #00449e);
}

.main-navigation {
    display: flex;
    flex: 1 1 100%;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    width: 100%;

    @include center-block;
}

.main-article .list-dananke {
    flex: 1 1 100%;
}



.list-dananke {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    list-style: none;
    margin-left: 0;
    margin-right: 0;
    padding: 0;

    @include center-block;
}

.main-nav-details > summary {
    list-style-image: var(--hamburger-icon);
    height: 32px;
    padding: 8px;
    position: absolute;
    width: 32px;
    z-index: 3;
}

.main-nav-details .main-navigation-mobile {
    background-color: var(--main-nav-bg-colour, #00449e);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 1rem;
    position: relative;
    visibility: visible;
    width: 100%;
    z-index: 2;

    @include center-block;
}

.main-nav-details + .main-navigation {
    display: none;
    visibility: hidden;
}

.main-nav-details ~ .site-header .page-title-banner {
    margin-top: 1.5em;
}

.site-title {
    color: rgba(255, 255, 255, 0.8);
    font-size: 1.5rem;
    font-weight: 400;
    padding-bottom: 1rem;
}

.main-navigation-mobile .site-title {
    flex: 1 1 100%;
    margin-top: 1em;
}

.lang-title {
    color: rgba(255, 255, 255, 0.9);
}

.site-link {
    display: block;
    max-width: 100%;
}

.title-link {
    text-decoration: none;
}

.title-link:hover {
    color: white;
    text-decoration: underline;
}

.site-image {
    height: auto;
    width: auto;
    max-width: 100%;
}

.hide {
    display: none;
}

.lang-list {
    padding-left: 0;
}

.lang-item {
    font-size: 1rem;
}

.title-nav-item {
    display: inline-block;
    list-style: none;
    font-weight: 400;
    padding-right: 1rem;
}

.title-menu-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-right: 1rem;
    padding-bottom: 0;
    padding-left: 0;
}

.title-menu-item {
    font-size: 1.25rem;
}

.title-menu-link {
    color: rgba(255, 255, 255, 0.9);
}

.social-title-link {
    margin-right: .25rem;
    padding-bottom: .5rem;
    padding-top: 1rem;
    z-index: 999;
}

.article-404 {
    padding-bottom: 4rem;
    padding-top: 4rem;

    @include center-block;
}

@include clear-fix(article-404);

.message-404-title {
    background-color: #111;
    border-radius: 9999px;
    color: #ccc;
    display: block;
    font-family: var(--message-404-title-font-family);
    font-size: 2.5rem;
    max-width: 23em;
    margin-bottom: 3rem;
    margin-top: 0;
    padding: 1rem;
    text-align: center;

    @include center-block;
}

.message-404-box {
    background-color: #cdecff;
    border-radius: 1rem;
    color: navy;
    font-size: 1.5rem;
    padding: 2rem;
    width: 100%;

    @include center-block;
}

.message-404-box .message-404-item {
    list-style: none;
    margin-left: 2rem;
    padding: 1rem;
}

.message-404-box .message-404-item a {
    color: #038;
}

.list-article {
    color: var(--main-text-colour);
    line-height: 1.5;
    font-size: 1.5rem;
    max-width: 34em;
    padding-bottom: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0;

    @include center-block;
}

@include clear-fix("list-article");

.main-article {
    display: flex;
    flex-flow: row wrap;
    color: var(--main-text-colour);
    line-height: 1.5;
    font-size: 1.5rem;
    padding-left: 1rem;
    padding-bottom: 0;
    padding-right: 1rem;
    padding-top: 0;

    @include center-block;
}

@include clear-fix("main-article");

.main-article .main-header {
    flex: 1 1 100%;
    margin-top: 1rem;
    max-width: 100%;
}

.no-article-date .article-datetime, .no-article-reading .article-reading {
    display: none;
}

.main-article:not(.no-article-date):not(.no-article-reading) {
    & .article-datetime + .article-reading::before {
        content: "—";
    }
}

.article-timeinfo {
    white-space: normal;
    word-break: normal;
}

.main-article-content {
    color: var(--main-text-colour);
    display: block;
    flex: 1 1 100%;
    line-height: 1.5;
    font-size: 1.4rem;
    max-width: 100%;
    padding: 0;

    @include chooseFontFamily("font-family", "athelas");
}

.list-article .main-article-content.taxonomy-note {
    @include chooseFontFamily("font-family", "avenir");
}

.main-article .context-menu-item {
    background-color: #e0e0e0;
    border-radius: 1em;
    line-height: 1.5;
    padding: .875rem 1.5rem;
}

.main-article .context-menu-item a {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    min-height: 48px;
    min-width: 48px;
    padding: 0;
    text-decoration: none;
}

.see-also-list-item {
    padding-left: 1rem;
    padding-right: 1rem;
}

.main-article .context-menu-item {
    & a:active,
    & a:focus,
    & a:hover {
        background-color: #00449e;
        color: #eee;
        text-decoration: underline;
    }
}

.main-article .context-menu-item ol, .main-article .context-menu-item ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

.main-article .context-menu-item li ol, .main-article .context-menu-item li ul {
    list-style: none;
    margin-left: 0;
    margin-top: 1em;
    padding-left: 1.5em;
}

.main-article .context-menu-item .context-title {
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: .5rem;
    margin-top: .5rem;
    padding-bottom: 0;
}

.see-also-list {
    line-height: 1.2;
    padding: 0;
}

.see-also-list-item {
    margin-bottom: .5rem;
}

.socials-share {
    align-self: baseline;
    display: block;
    margin-top: .5rem;
}

.main-title {
    font-size: 3rem;
    margin-bottom: .25rem;
    margin-top: 1.5rem;

    @include chooseFontFamily("font-family", "athelas");
}

.main-article-title {
    font-size: 2rem;
}

.main-article-tags, .main-article-see-also {
    flex: 1 1 100%;
    margin-top: .875rem;
}

.main-article-timeinfo {
    margin-top: 2rem;
    white-space: normal;
    word-break: normal;
}

.main-article-timeinfo ~ .main-article-content h2 {
    margin-top: .5rem;
}

.main-article-timeinfo ~ .main-article-toc {
    margin-top: 1rem;
}

.contact-form-article .main-article-content {
    width: fit-content;
}

.article-author {
    align-self: baseline;
    font-size: 1.2rem;
    letter-spacing: .1em;
    line-height: 1;
    margin-right: .4em;
}

.no-article-author .article-author {
    display: none;
}

.no-article-socials-share .socials-share {
    display: none;
}

.no-article-header .main-header {
    display: none;
}

.article-timeinfo {
    font-size: 14pt;
    letter-spacing: .1rem;
    line-height: 1;
}

.main-block .articles-summaries {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding-bottom: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0;
    width: 100%;

    @include center-block;
}

.main-block .terms-list {
    font-size: 1.4rem;
    list-style: none;
    padding-bottom: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0;
    width: 100%;

    @include center-block;
}

.main-block .terms-taxonomies-aside {
    background-color: #f7f7f7;
    border-radius: 1em;
    color:rgba(0, 0, 0, .65);
    font-size: 1.4rem;
    font-style: italic;
    font-weight: lighter;
    line-height: 1.5;
    margin-left: auto;
    margin-right: 2rem;
    padding-bottom: 0;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: .1rem;
    width: fit-content;
}

.terms-taxonomies-list {
    list-style: none;
    margin-top: 0;
    opacity: .7;
    margin-top: 0;
    padding-bottom: .5rem;
    padding-left: 0;
    padding-right: 1rem;
    padding-top: 0;
    width: 100%;
}

.terms-taxonomies-title {
    font-size: 1.5rem;
    margin-left: 0;
    padding-left: 0;
}

.terms-title {
    margin-top: 0;
    text-align: center;
}

.terms-link {
    white-space: normal;
}

.main-block .main-article-content.terms-list {
    @include chooseFontFamily("font-family", "avenir");
}

.sitemap-list-block {
    font-size: 1.4rem;
    line-height: 1.2;
    text-align: left;
}

.terms-item a {
    text-decoration: none;
}

.main-block .articles-summaries .featured-title {
    font-size: 3rem;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 1rem;
    text-align: center;
}

.main-block .articles-summaries > .article-summary:first-of-type {
    border-top: solid 1px rgba(0, 0, 0, .3)
}

.article-summary {
    align-items: center;
    border-bottom: solid 1px rgba(0, 0, 0, .3);
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: .5em;
    padding-bottom: 1.5rem;
    padding-left: .5rem;
    padding-right: .5rem;
    padding-top: 1.5rem;
    position: relative;
    text-decoration: none;
    width: 100%;

    @include center-block;
}

.article-summary:last-of-type {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

.article-summary .summary-link {
    display: block;
    margin-bottom: 1rem;
    order: 2;
    width: 100%;
}

.article-summary .summary-contents {
    margin-bottom: 1rem;
    order: 1;
    width: 100%;
}

.featured-image-link + span {
    display: none
}

.featured-image + span {
    display: none
}

.article-summary .summary-link + span {
    display: none
}

.article-summary .summary-image + span {
    display: none
}

.summary-image {
    border-style: none;
    display: block;
    height: auto;
    margin-left: auto;
    max-width: 100%;
    width: auto;
}

.summary-contents {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.summary-title {
    background-color: #ccc;
    border: solid 1px gray;
    border-radius: .25rem;
    display: block;
    color: inherit;
    font-size: 1.5rem;
    font-weight: 100;
    line-height: 1.25;
    margin-top: 0;
    max-width: 36rem;
    opacity: 1;
    padding-left: .25rem;
    padding-right: .25rem;
    text-align: left;

    @include chooseFontFamily("font-family", "athelas");
}

.summary-title:focus, .summary-title:hover {
    opacity: .7;
}

.summary-title-link {
    color: inherit;
    display: block;
    text-decoration: none;
}

.page-title-banner {
    color: var(--title-over-image-colour, rgba(255, 255, 255, .8));
    font-size: 2.25rem;
    font-weight: 400;
    line-height: 1.25;
    margin-bottom: 0;
    padding-bottom: .5em;
    width: 100%;
}

.page-description-banner {
    color: var(--title-over-image-colour, rgba(255, 255, 255, .8));
    font-size: 1.25rem;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 2rem;
    width: 100%;

    @include center-block;
}

.homepage-description-banner {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    padding-bottom: .5rem;
}

.site-header {
    background-color: var(--featured-image-padding-colour);
    display: block;
    padding-left: 1rem;
    padding-right: 1rem;
    position: relative;
    text-align: center;
    z-index: 0;
}

.site-header .page-title-banner {
    font-size: 1.5rem;
    position: relative;
    z-index: 2;
}

.site-header .page-description-banner {
    font-size: 14pt;
    position: relative;
    z-index: 2;
}

.site-header-with-image {
    height: auto;
    min-height: auto;
}

.main-nav-details + .main-navigation.show-on-mobile ~ .site-header {
    height: 2em;
    width: 100%;
}

.main-nav-details[open] + .main-navigation.show-on-mobile ~ .site-header {
    height: auto;
    min-height: auto;
    position: relative;
    z-index: 3;
}

.main-nav-details[open] + .main-navigation.main-navigation-with-image ~ .site-header {
    height: 33vh;
    min-height: 33vh;
}

.featured-image-link {
    bottom: 0;
    align-items: center;
    align-content: center;
    display: none;
    flex-flow: column nowrap;
    justify-content: center;
    left: 0;
    max-height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
}

.main-nav-details[open] ~ .site-header .featured-image-link {
    display: flex;
}

.main-nav-details[open] + .main-navigation.show-on-mobile ~ .site-header .featured-image-link {
    position: relative;
}

.featured-image {
    border-style: none;
    display: none;
    height: auto;
    max-height: 100%;
    max-width: 100%;
    opacity: var(--featured-image-opacity);
    width: auto;
}

.featured-image:not([src*=".svg"]) {
    height: max-content;
}

.featured-image[src*=".svg"] {
    height: auto;
}

.main-nav-details[open] + .main-navigation ~ .site-header .featured-image {
    display: block;
    flex: 1 0 auto;
    max-height: 33vh;
}

.summary-from-metadata {
    font-size: 1rem;
    line-height: 1.5;
}

.summary-from-metadata ol, .summary-from-metadata p, .summary-from-metadata ul {
    line-height: 1.5;
}

.summary-from-metadata p + p {
    margin-top: 1.5em;
}

.summary-from-metadata a {
    color: #357edd;
    max-width: 30em;
}
  
.summary-from-metadata a:focus, .summary-from-metadata a:hover {
    color: #00449e;
    overflow-wrap: break-word;
}

.summary-byline {
    font-size: 14pt;
    margin-bottom: 0;
    font-style: italic;
}

.site-footer {
    background-color: var(--main-nav-bg-colour, #00449e);
    bottom: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    padding: 1rem;
    width: 100%;
}

.footer-copyright {
    color: rgba(255, 255, 255, .8);
    display: inline-block;
    font-weight: 400;
    padding-bottom: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;
    text-decoration: none;
}

.footer-copyright:focus, .footer-copyright:hover {
    color: #fff;
    text-decoration: underline;
}

.footer-link {
    color: rgba(255, 255, 255, .8);
    display: inline-block;
    font-weight: 400;
    padding-bottom: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;
    text-decoration: none;
}

.footer-link:focus, .footer-link:hover {
    color: #fff;
    text-decoration: underline;
}

.walk-page-list {
    list-style: none;
}

.walk-page-link {
    display: block;
    height: 100%;
    padding: 1rem;
    text-decoration: none;
    width: 100%;
}

.walk-page-link:focus, .walk-page-link:hover {
    background-color: #00449e;
    text-decoration: underline;
    color: #fff;
}

.article-tags {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin-bottom: 0;
    margin-top: .5rem;
    padding: 0;
    width: 100%;
}

.article-tags .article-tag {
    list-style: none;
    margin-bottom: 1rem;
    margin-left: 0;
    margin-right: 1rem;
    margin-top: 0;
    padding-left: 0;
}

.article-tags .article-tag:last-of-type {
    margin-right: 0;
}

.tag-link {
    align-items: center;
    border: solid 1px;
    border-radius: 9999px;
    display: flex;
    flex-flow: row nowrap;
    font-family: sans-serif;
    font-size: 1.4rem;
    justify-content: center;
    min-height: 48px;
    min-width: 5rem;
    padding: .5em;
    text-decoration: none;
    white-space: nowrap;
    width: fit-content;
}

.terms-block .terms-link, .terms-block .taxonomies-link {
    display: block;
    height: 100%;
    padding: 1rem;
    text-decoration: none;
    width: 100%;
}

.terms-block {
    & .terms-link:focus,
    & .terms-link:hover,
    & .taxonomies-link:focus,
    & .taxonomies-link:hover {
        background-color: #00449e;
        color: #fff;
        text-decoration: underline;
    }
}

.contact-form-article ~ .context-box {
    display: none;
}

.contact-form-article {
    @include center-block;
}

.contact-form-article-content {
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
}

.contact-form {
    background-color: #d0d0d0;
    border: 3px inset #999;
    border-radius: 3rem;
    color: #1f1f1f;
    display: block;
    height: fit-content;
    padding: 1.5rem;
    max-width: 100%;

    @include chooseFontFamily('font-family','avenir');
    @include center-block;
}

.contact-label {
    width: fit-content;
}

.contact-input[type="text"], .contact-input[type="email"] {
    font-size: 1.2rem;
    height: 1.75em;
    width: 100%;
}

.contact-input.contact-textarea {
    flex: unset;
    font-size: 1.2rem;
    display: block;
    height: 6em;
    width: 100%;
    overflow: auto;
}

.contact-input {
    display: block;
    margin-top: 0;
    margin-bottom: .4em;
    max-width: 100%;
}

.contact-button {
    display: block;
    font-size: 1.2rem;
    margin-left: auto;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: .4em;
    min-height: 48px;
    min-width: 48px;
    padding-left: .8rem;
    padding-right: .8rem;
}

.contact-input, .contact-button {
    border: solid 1px #444;
    border-radius: .4rem;
}

.input-required {
    color: red;
}

.required-note {
    font-weight: lighter;
    font-style: italic;
    margin-top: 1rem;
}

.contact-form-article .main-article-see-also, .contact-form-article .main-article-toc {
    display: none;
    visibility: hidden;
}

.nav-page-dananke .list-item-label-dananke {
    color: rgba(255, 255, 255, .8);
    padding-right: .4em;
}

.nav-page-dananke .list-dananke {
    overflow: visible;
}

.nav-page-dananke .list-dananke .list-item-dananke {
    align-items: center;
    background-color: var(--main-nav-bg-colour, #00449e);
    border: 1px solid var(--main-nav-bg-colour, #00449e);
    border-radius: 9999px;
    color: rgba(255, 255, 255, .8);
    display: flex;
    flex: 1 1 auto;
    flex-flow: row nowrap;
    justify-content: center;
    list-style: none;
    margin-bottom: .2em;
    margin-left: .2em;
    margin-right: .2em;
    margin-top: .2em;
    min-height: 48px;
    min-width: 48px;
    max-width: 30%;
    overflow: visible;
}

.nav-page-dananke .list-dananke .list-item-dananke .link-dananke {
    color: rgba(255, 255, 255, .8);
    display: inline-block;
    max-height: 100%;
    overflow: hidden;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap;
    width: 100%;
}

.nav-page-dananke .list-dananke .list-item-dananke {
    &:active,
    &:focus,
    &:hover {
        background-color: rgba(255, 255, 255, .8);
        color: var(--main-nav-bg-colour, #00449e);

        & .link-dananke {
            color: var(--main-nav-bg-colour, #00449e);
            text-decoration: underline;
        }
    }
}

.nav-page-dananke .list-dananke .list-item-dananke .list-item-label-dananke {
    display: none;
}

.nav-page-dananke .list-item-dananke.section-other-newer .link-dananke::before {
    content: "«";
}

.nav-page-dananke .list-item-dananke.section-other-newer .link-dananke::after {
    content: "«";
}

.nav-page-dananke .list-item-dananke.section-newer .link-dananke::before {
    content: "‹";
}

.nav-page-dananke .list-item-dananke.section-newer .link-dananke::after {
    content: "‹";
}

.nav-page-dananke .list-item-dananke.up-level .link-dananke::before {
    content: "^";
}

.nav-page-dananke .list-item-dananke.up-level .link-dananke::after {
    content: "^";
}

.nav-page-dananke .list-item-dananke.section-older .link-dananke::before {
    content: "›";
}

.nav-page-dananke .list-item-dananke.section-older .link-dananke::after {
    content: "›";
}

.nav-page-dananke .list-item-dananke.section-other-older .link-dananke::before {
    content: "»";
}

.nav-page-dananke .list-item-dananke.section-other-older .link-dananke::after {
    content: "»";
}

@media screen and (min-width: 30em) {
    .site-footer {
        flex-flow: row wrap;
    }

    .summary-byline {
        font-size: 14pt;
    }

    .summary-from-metadata {
        font-size: 1.25rem;
    }

    .main-navigation, .list-dananke {
        align-items: center;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .list-dananke {
        width: 100%;
    }

    .main-navigation {
        flex-flow: row wrap;
    }

    .main-nav-details ~ .site-header .page-title-banner {
        margin-top: .5em;
    }
    
    .site-link {
        flex: 1 1 100%;
        max-width: 64rem;
    }

    .site-image {
        max-width: 16rem;
    }

    .lang-list {
        flex: 0 1 min-content;
        margin-bottom: .5rem;
        margin-left: 2rem;
        margin-top: .5rem;
    }

    .lang-item {
        font-size: 1.25rem;
    }

    .title-menu-list {
        flex: 1 1 max-content;
        margin-bottom: .5rem;
        margin-top: .5rem;
    }

    .social-title-link {
        padding-top: 0;
    }

    .message-404-box {
        width: 40%;
    }
    
    .main-block .articles-summaries {
        flex-wrap: wrap;
        padding-left: 2rem;
        padding-right: 2rem;
        width: 100%;
        max-width: 58rem;
    }

    .article-summary {
        flex-direction: row;
        justify-content: flex-start;
    }

    .article-summary .summary-link {
        flex: 0 0 20rem;
        margin-bottom: 0;
        order: 1;
        padding-right: 1rem;
        width: 20em;
    }

    .summary-image {
        max-height: 9em;
    }

    .article-summary .summary-contents {
        order: 2;
    }

    .summary-contents {
        flex: 1 1 36rem;
        padding-left: 1rem;
    }

    .site-header .page-title-banner {
        font-size: 2.25rem;
    }
    
    .site-header .page-description-banner {
        font-size: 1.25rem;
    }

    .site-header .homepage-description-banner {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 44em) {
    .main-article {
        padding-left: 3rem;
        padding-right: 3rem;
        width: 28em;
    }

    .contact-form-article .main-article-content {
        width: 36em;
    }
}

@media screen and (min-width: 48em) {
    .featured-image-link {
        display: flex;
    }

    .featured-image {
        display: block;
    }

    .site-header-with-image {
        height: 70vh;
        min-height: 70vh;
    }

    .main-nav-details {
        display: none;
    }

    .main-nav-details + .main-navigation {
        display: flex;
        visibility: visible;
    }

    .main-article {
        width: 32em;
    }
}

@media screen and (min-width: 64em) {
    .main-article {
        max-width: 42em;
    }

    .main-article .main-article-content {
        max-width: 34em;
    }

    .contact-form-article .main-article-content {
        width: fit-content;
        margin-right: unset;
        max-width: 34em;
    }

    .main-article-context-menu {
        max-width: 34em;
    }

    .main-navigation {
        padding-bottom: 1.4em;
        padding-top: 1.4em;
    }

    .list-dananke {
        padding: .5rem;
    }

    .site-link {
        flex: 1 1 auto;
        max-width: 96rem;
        padding-bottom: 0;
    }

    .lang-list {
        padding-bottom: 0;
    }

    .title-menu-item {
        padding-bottom: 0;
    }

    .social-title-link {
        padding-bottom: 0;
    }

    .list-article {
        padding-left: 4rem;
        padding-right: 4rem;
        text-align: center;
    }

    .article-summary {
        padding-left: 0;
        padding-right: 0;
    }

    .page-title-banner {
        font-size: 3rem;
    }

    .page-description-banner {
        font-size: 1.5rem;
        max-width: 34em;
    }

    .homepage-title-banner {
        font-size: 5rem;
    }

    .homepage-description-banner {
        font-size: 2rem;
        max-width: 34em;
    }

    .site-header .page-title-banner {
        font-size: 3rem;
    }
    
    .site-header .page-description-banner {
        font-size: 1.5rem;
    }

    .site-header .homepage-title-banner {
        font-size: 5rem;
    }

    .site-header .homepage-description-banner {
        font-size: 2rem;
    }
}
