@import 'common-mixins.scss';

@mixin clear-fix($selector) {
    .#{$selector}:after, .#{$selector}:before {
        content: " ";
        display: table;
    }

    .#{$selector}:after {
        clear: both;
    }
}

@mixin center-block {
    margin-left: auto;
    margin-right: auto;
}


* {
    margin-top: 0;
    padding-top: 0;
}

html {
    font-size: var(--base-font-size, 12pt);
}

input, textarea, button {
    font-size: var(--base-font-size, 12pt);
}

.whole-body, body {
    background-color: var(--whole-doc-bg-colour, #eee);
    display: flex;
    flex-flow: column nowrap;
    font-family: var(--default-font-family, sans-serif);
    font-size: calc(var(--whole-body-font-size, 16pt) - 2pt);
    left: 0;
    line-height: 1.33;
    margin: 0;
    position: relative;
    top: 0;
    z-index: 0;
}

@media screen and (min-width: 48rem) {
    .whole-body, body {
        font-size: var(--whole-body-font-size, 16pt);
    }
}

.border-box, a, article, aside, blockquote, body, code, dd, div, dl, dt, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, html, input[type=email], input[type=number], input[type=password], input[type=tel], input[type=text], input[type=url], legend, li, main, nav, ol, p, pre, section, table, td, textarea, th, tr, ul {
    box-sizing: border-box;
}

*, .content-box, hr {
    box-sizing: content-box;
}

a, code {
    overflow-wrap: break-word;
    word-break: normal;
}

pre, pre code {
    overflow-wrap: break-word;
    word-break: break-all;
}

pre, .pre {
    white-space: pre-wrap;
}

pre code {
  display: block;
  white-space: pre-wrap;
  line-height: 2;
}

pre {
  background-color: #222;
  color: #ddd;

  hyphens: none;
  position: relative;
}

.main-block li pre {
    min-width: auto;
}

code {
    font-size: .875em;
}

.tag-link {
    text-overflow: ellipsis;
}

.main-block {
    display: block;
    padding-bottom: 0;
}

.nav-page-dananke {
    font-size: 1.25em;
    overflow: visible;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
}

.main-navigation {
    background-color: var(--main-nav-bg-colour, #227);
}

.main-navigation {
    display: flex;
    flex: 1 1 100%;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    width: 100%;

    @include center-block;
}

.main-article .list-dananke {
    flex: 1 1 100%;
}

.list-dananke {
    align-items: center;
    align-content: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    list-style: none;
    margin-left: 0;
    margin-right: 0;
    padding: 0;

    @include center-block;
}

.main-nav-details > summary {
    background-color: var(--main-nav-bg-colour, #00449e);
    list-style-image: var(--hamburger-icon);
    height: 32px;
    left: 0;
    top: 0;
    padding: 8px;
    position: relative;
    z-index: 3;
}

.main-nav-details .main-navigation-mobile {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    position: absolute;
    top: 48px;
    visibility: visible;
    z-index: -1;

    @include center-block;
}

.main-nav-details .main-navigation-mobile,
.site-footer {
    background-color: var(--main-nav-bg-colour, #00449e);
    width: 100%;
}

.main-nav-details[open] .main-navigation-mobile {
    z-index: 2;
}

.main-nav-details + .main-navigation {
    display: none;
    visibility: hidden;
    z-index: -1;
}

.site-title {
    color: rgba(255, 255, 255, 0.8);
    font-size: 1.5rem;
    font-weight: 400;
}

@media screen and (min-width: 48rem) {
    .site-title {
        margin-right: 2rem;
     }
}

.main-navigation-mobile .site-title {
    flex: 1 1 100%;
}

.lang-title {
    color: rgba(255, 255, 255, 0.9);
}

.site-link {
    display: block;
    max-width: 100%;
}

.title-link,
.footer-link {
    text-decoration: none;
}

.title-link:hover,
.footer-link:hover {
    color: white;
    text-decoration: underline;
}

.site-image {
    height: auto;
    max-height: 50vh;
    max-width: 100%;
}

.hide {
    display: none;
}

.lang-list {
    flex: 1 1 auto;
    padding-left: 0;
}

.main-navigation,
.main-navigation-mobile {
    & .dananke-social-list-item {
        display: block;
        flex: 1 1 auto;
        list-style: none;

        & .dananke-social-link {
            display: flex;
            justify-content: center;
            line-height: 2;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.title-nav-item,
.dananke-social-list-item,
.footer-link-list-item {
    display: block;
    flex: 1 1 max-content;
    font-weight: 400;
    list-style: none;
}

.title-menu-list,
.site-footer-link-list,
.lang-list {
    align-items: center;
    align-content: center;
    display: flex;
    flex: 1 1 100%;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 0;
    text-align: center;
}

.title-menu-list,
.lang-list {
    padding-left: .5rem;
    padding-right: .5rem;
}

.site-footer-link-list {
    padding: .5rem;
}

.title-menu-list {
    margin-bottom: 1rem;
}

.title-menu-list,
.footer-link-list,
.lang-list {
    font-size: 1.25rem;
    line-height: 2;
}

.main-navigation-mobile {
    & .title-menu-list {
        & .title-menu-item,
        & .dananke-social-list-item {
            & a {
                margin-bottom: 4px;
                margin-top: 4px;
                padding-bottom: 4px;
                padding-top: 4px;
            }
        }
    }
}

.main-navigation-mobile {
    & .lang-list {
        line-height: 2;

        & .title-nav-item {
            & a {
                margin-bottom: 4px;
                margin-top: 4px;
                padding-bottom: 4px;
                padding-top: 4px;
            }
        }
    }
}

.title-menu-link,
.title-menu-link:link,
.footer-link,
.footer-link:link,
.lang-link,
.lang-link:link {
    color: rgba(255, 255, 255, 0.9);
    display: block;
    margin-bottom: 8px;
    margin-left: 4px;
    margin-top: 8px;
    margin-right: 4px;
    min-height: 48px;
    min-width: 48px;
    padding: 8px;
}

.social-title-link {
    margin-bottom: 8px;
    margin-left: 4px;
    margin-top: 8px;
    margin-right: 4px;
    padding: 8px;
    z-index: 999;
}

.article-intense-notice {
    margin-bottom: 1.67rem;

    & .intense-notice-title {
        margin-bottom: 1.5rem;
        max-width: 95%;
    }

    & .intense-notice-box {
        margin-bottom: 0;
        max-width: 80%;
    }

    & .intense-notice-item {
        padding: .75rem;
    }

    @include center-block;
}

@include clear-fix(article-intense-notice);

.intense-notice-title {
    background-color: var(--intense-notice-title-background-colour, #111);
    border-radius: 9999px;
    color: var(--intense-notice-title-colour, #ccc);
    display: block;
    font-family: var(--intense-notice-title-font-family);
    font-size: 1.875em;
    overflow: clip;
    padding: 2rem;
    width: max-content;
    text-align: center;

    @include center-block;
}

.intense-notice-box {
    background-color: var(--intense-notice-box-background-colour, #888);
    border-radius: 4rem;
    color: var(--intense-notice-box-colour, #000);
    font-size: 1.5rem;
    overflow: clip;
    padding: 1.5rem;
    width: max-content;

    @include center-block;
}

.intense-notice-box .intense-notice-item {
    list-style: none;
}

.intense-notice-box a {
    color: var(--intense-notice-box-link-colour, #fff);
}

#site-header-404-page-not-found {
    margin-bottom: 2rem;
}

#title-404-page-not-found .linkbar-dananke {
    margin-bottom: 2rem;
}

@media screen and (min-width: 30em) {
    #site-header-404-page-not-found ~ .nav-page-dananke .linkbar-dananke {
        margin-bottom: 3rem;
    }
}

@media screen and (min-width: 84rem) {
    .article-intense-notice {

        & .intense-notice-box {
            font-size: 1.75rem;
            padding: 2rem;
            width: max-content;

            @include center-block;
        }

        & .intense-notice-title {
            font-size: 2.5rem;
        }
    }

    #site-header-404-page-not-found {
        margin-bottom: 4rem;
    }
}

.list-article,
.main-block .page-footnote {
    color: var(--main-text-colour);
    line-height: 1.5;
    max-width: 34em;
    padding-bottom: 0;
    padding-left: 1rem;
    padding-right: 1rem;

    @include center-block;
}

.list-article ul {
    text-align: left;
}

@include clear-fix("list-article");

.main-block .page-footnote {
    border-top: 2px solid #444;
    font-size: 1.3rem;

    padding-bottom: 1rem;
}

@include clear-fix("page-footnote");

.main-article {
    display: flex;
    flex-flow: row wrap;
    color: var(--main-text-colour);
    line-height: 1.5;
    padding-left: 1rem;
    padding-bottom: 0;
    padding-right: 1rem;

    @include center-block;
}

@include clear-fix("main-article");

.main-article .main-header {
    flex: 1 1 100%;
    max-width: 100%;
}

.no-article-date .article-datetime, .no-article-reading .article-reading {
    display: none;
}

.main-article:not(.no-article-date):not(.no-article-reading) {
    & .article-datetime + .article-reading::before {
        content: "—";
    }
}

.article-timeinfo {
    white-space: normal;
    word-break: normal;
}

.main-article-content {
    color: var(--main-text-colour);
    display: block;
    flex: 1 1 100%;
    line-height: 1.5;
    max-width: 100%;
    padding: 0;

    & figure {
        margin: 0;
    }

    & img {
        height: auto;
        max-width: 100%;
    }

    @include chooseFontFamily("font-family", "athelas");
}

.list-article .main-article-content.taxonomy-note {
    @include chooseFontFamily("font-family", "avenir");
}

.main-article .context-menu-item {
    background-color: #e0e0e0;
    border-radius: 1em;
    line-height: 1.5;
    padding: .875rem 1.5rem;
}

.main-article .context-menu-item a {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    min-height: 48px;
    min-width: 48px;
    padding: 0;
    text-decoration: none;
    
    & em,
    & i,
    & bold,
    & strong,
    & span,
    & code {
        padding-left: .4em;
        padding-right: .4em;
    }
}

.see-also-list-item {
    padding-left: 1rem;
    padding-right: 1rem;
}

.main-article .context-menu-item {
    & a:active,
    & a:focus,
    & a:hover {
        text-decoration: underline;
    }
}

.main-article .context-menu-item ol, .main-article .context-menu-item ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

.main-article .context-menu-item li ol, .main-article .context-menu-item li ul {
    list-style: none;
    margin-left: 0;
    padding-left: 1.5em;
}

.main-article .context-menu-item .context-title {
    font-weight: bold;
    padding-bottom: 0;
}

.main-article .context-menu-item[open] .context-title {
    margin-bottom: 1em;
}

.main-article-see-also {
    margin-bottom: 1.5rem;
}

.see-also-list {
    padding: 0;
}

.see-also-list-item {
    margin-bottom: .25em;
}

.socials-share {
    align-self: baseline;
    display: block;
}

.main-title {
    font-size: 3rem;
    margin-bottom: .25rem;

    @include chooseFontFamily("font-family", "athelas");
}

.main-article-title {
    font-size: 2rem;
}

.main-article-tags, .main-article-see-also {
    flex: 1 1 100%;
}

.main-article-timeinfo {
    margin-bottom: 1rem;
    white-space: normal;
    word-break: normal;
}

.main-article-toc {
    margin-bottom: 1rem;
}

.contact-form-article .main-article-content {
    width: 100%;
}

.article-author {
    align-self: baseline;
    display: inline-block;
    flex: 0 1 max-content;
    letter-spacing: .1em;
    line-height: 1;
    margin-bottom: 1.5rem;
    margin-left: 2rem;
    margin-right: .4em;
}

.no-article-author .article-author {
    display: none;
}

.no-article-socials-share .socials-share {
    display: none;
}

.no-article-header .main-header {
    display: none;
}

.article-timeinfo {
    font-size: 14pt;
    letter-spacing: .1rem;
    line-height: 1;
}

.socials-share {
    display: inline-flex;
    flex: 0 1 max-content;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin-left: 0;
    
    & .dananke-social-list-item {
        flex: 0 1 auto;
    }
}

.main-block .articles-summaries {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-bottom: 1rem;
    padding-bottom: 0;
    width: 100%;

    @include center-block;
}

.main-block .terms-list {
    font-size: 1.4rem;
    list-style: none;
    padding-bottom: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;

    @include center-block;
}

.main-block .terms-taxonomies-aside {
    background-color: #f7f7f7;
    border-radius: 1em;
    color:rgba(0, 0, 0, .65);
    font-size: 1.4rem;
    font-style: italic;
    font-weight: lighter;
    line-height: 1.5;
    margin-left: auto;
    margin-right: 2rem;
    padding-bottom: 0;
    padding-left: 2rem;
    padding-right: 2rem;
    width: auto;
}

.terms-taxonomies-list {
    list-style: none;
    opacity: .7;
    padding-bottom: .5rem;
    padding-left: 0;
    padding-right: 1rem;
    width: 100%;
}

.terms-taxonomies-title {
    font-size: 1.5rem;
    margin-left: 0;
    padding-left: 0;
}

.terms-title {
    text-align: center;
}

.terms-link {
    white-space: normal;
}

.main-block .main-article-content.terms-list {
    @include chooseFontFamily("font-family", "avenir");
}

.sitemap-list-block {
    font-size: 1.4rem;
    line-height: 1.2;
    text-align: left;
}

.sitemap-list-block .walk-page-list-item,
.summary-title {
    & .walk-page-link {
        margin-bottom: 1rem;
    }
}

.sitemap-list-block > .walk-page-list {
    padding-left: 0;
    
    & > .walk-page-list-item > .walk-page-list {
        padding-left: 0;
    }
}

.walk-page-list {
    list-style: none;
    list-style-position: inside;
}


.summary-title {
    margin-left: .25rem;
    margin-right: .25rem;
    max-width: 36rem;
}

.walk-page-link,
.summary-title-link {
    border-radius: 6px;
    display: block;
    height: 100%;
    padding: 1rem;
    padding-left: 2rem;
    text-decoration: none;
    width: 100%;
}

.walk-page-link:focus,
.walk-page-link:hover,
.summary-title-link:focus,
.summary-title-link:hover {
    background-color: var(--link-colour);
    border-radius: 6px;
    color: var(--whole-doc-bg-colour, #eee);
    text-decoration: underline;
}

.sitemap-list-block > .walk-page-list > .walk-page-list-item,
.summary-title {
    & > a {
        background-color: #ccc;
        border: solid 1px gray;
        border-radius: 1rem;
        display: block;
        font-size: 1.5rem;
        font-weight: 100;
        line-height: 1.25;
        max-width: inherit;
        opacity: 1;
        padding-left: 1rem;
        padding-right: 1rem;
        text-align: left;

        @include chooseFontFamily("font-family", "athelas");

        &:visited,
        &:active,
        &:link {
           color: inherit;
        }

        &:focus,
        &:hover {
            background-color: #222;
            border-radius: 1rem;
            color: #ddd;
            text-decoration: none;
        }
    }
}

.terms-item a {
    text-decoration: none;
}

.main-block .articles-summaries .featured-title {
    font-size: 3rem;
    margin-bottom: 1rem;
    text-align: center;
}

.main-block .articles-summaries > .article-summary:first-of-type {
    border-top: solid 1px rgba(0, 0, 0, .3);
    padding-top: 1rem;
}

.article-summary {
    align-items: center;
    border-bottom: solid 1px rgba(0, 0, 0, .3);
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: .5em;
    position: relative;
    text-decoration: none;
    width: 100%;

    @include center-block;
}

.article-summary:last-of-type {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

.article-summary .summary-link {
    display: block;
    margin-bottom: 1rem;
    order: 2;
    width: 100%;
}

.article-summary .summary-contents {
    order: 1;
    width: 100%;
}

.summary-image {
    border-style: none;
    display: block;
    height: auto;
    max-width: 100%;
    width: auto;
    
    @include center-block;
}

.summary-contents {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.summary-title.text-only {
    max-width: inherit;
}

.page-title-banner {
    color: var(--title-over-image-colour, rgba(255, 255, 255, .8));
    font-size: 2.25rem;
    font-weight: 400;
    margin-bottom: 0;
    width: 100%;
}

.page-description-banner {
    color: var(--title-over-image-colour, rgba(255, 255, 255, .8));
    font-size: 1.25rem;
    width: 100%;

    @include center-block;
}

.homepage-description-banner {
    font-size: 1.5rem;
}

.site-header {
    background-color: var(--featured-image-padding-colour);
    display: block;
    margin-bottom: 1rem;
    padding: 1rem;
    position: relative;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 1;
}

.site-header .page-title-banner {
    font-size: 2.25rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    position: relative;
    z-index: 1;
}

.site-header .page-description-banner {
    font-size: 14pt;
    position: relative;
    z-index: 1;
}

.site-header-with-image {
    height: auto;
    min-height: auto;
}

@media screen and (min-width: 48rem) {
    .site-header .page-title-banner {
        font-size: 2.5em;
    }

    .site-header .page-description-banner {
        font-size: 1.875em;
    }
}

.main-nav-details + .main-navigation.show-on-mobile ~ .site-header {
    height: 2rem;
    width: 100%;
}

.main-nav-details[open] + .main-navigation.show-on-mobile ~ .site-header {
    height: auto;
    min-height: auto;
    position: relative;
    z-index: 1;
}

.featured-image-link {
    bottom: 0;
    align-items: center;
    align-content: center;
    display: none;
    flex-flow: column nowrap;
    justify-content: center;
    left: 0;
    max-height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

.main-nav-details[open] + .main-navigation.show-on-mobile ~ .site-header .featured-image-link {
    position: relative;
}

.featured-image {
    border-style: none;
    display: none;
    height: auto;
    max-height: 100%;
    max-width: 100%;
    opacity: var(--featured-image-opacity);
    width: auto;
}

.main-navigation-mobile .featured-image-link {
    display: flex;
    flex: 1 1 100%;
    padding-bottom: 1rem;
    position: relative;
}

.main-navigation-mobile .featured-image {
    display: block;
    opacity: 1;
    width: 100%;
}

.featured-image:not([src*=".svg"]) {
    height: max-content;
}

.featured-image[src*=".svg"] {
    height: auto;
}

.site-link img {
    vertical-align: middle;
}

.summary-from-metadata {
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: 1rem;
    padding-left: .5rem;
    padding-right: .5rem;
}

.summary-from-metadata ol, .summary-from-metadata p, .summary-from-metadata ul {
    line-height: 1.5;
}

.summary-byline {
    font-size: 14pt;
    font-style: italic;
    margin-bottom: 1rem;
    padding-left: .5rem;
    padding-right: .5rem;
}

.site-footer {
    display: flex;
    flex-flow: column nowrap;
}

.footer-link:focus, .footer-link:hover {
    color: #fff;
    text-decoration: underline;
}

.article-tags {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin-bottom: 0;
    padding: 0;
    width: 100%;
}

.article-tags .article-tag {
    list-style: none;
    margin-bottom: 1rem;
    margin-left: 0;
    margin-right: 1rem;
    padding-left: 0;
}

.article-tags .article-tag:last-of-type {
    margin-right: 0;
}

.tag-link {
    border: solid 1px;
    border-radius: 9999px;
    display: inline-block;
    font-family: sans-serif;
    font-size: 1.4rem;
    max-width: 90vw;
    min-height: 48px;
    min-width: 5rem;
    overflow: hidden;
    padding: .5em;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: auto;
}

.terms-block .terms-link, .terms-block .taxonomies-link {
    display: block;
    height: 100%;
    padding: 1rem;
    text-decoration: none;
    width: 100%;
}

.terms-block {
    & .terms-link:focus,
    & .terms-link:hover,
    & .taxonomies-link:focus,
    & .taxonomies-link:hover {
        text-decoration: underline;
    }
}

.contact-form-article ~ .context-box {
    display: none;
}

.contact-form-article {
    @include center-block;
}

.contact-form-article-content {
    margin-left: auto;
    margin-right: auto;
}

.contact-form {
    background-color: #d0d0d0;
    border: 3px inset #999;
    border-radius: 3rem;
    color: #1f1f1f;
    display: block;
    height: auto;
    margin-bottom: 1.5rem;
    padding: 1.5rem;
    max-width: 100%;

    @include chooseFontFamily('font-family','avenir');
    @include center-block;
}

.contact-label {
    width: auto;
}

.contact-input[type="text"], .contact-input[type="email"] {
    font-size: 1.2rem;
    height: 1.75em;
    width: 100%;
}

.contact-input.contact-textarea {
    flex: unset;
    font-size: 1.2rem;
    display: block;
    height: 6em;
    width: 100%;
    overflow: auto;
}

.contact-input {
    display: block;
    margin-bottom: .4em;
    max-width: 100%;
}

.contact-button {
    display: block;
    font-size: 1.2rem;
    margin-left: auto;
    margin-right: 0;
    margin-bottom: .4em;
    min-height: 48px;
    min-width: 48px;
    padding-left: .8rem;
    padding-right: .8rem;
}

.contact-input, .contact-button {
    border: solid 1px #444;
    border-radius: .4rem;
}

.input-required {
    color: #c00;
}

.required-note {
    font-weight: lighter;
    font-style: italic;
}

.contact-form-article .main-article-see-also, .contact-form-article .main-article-toc {
    display: none;
    visibility: hidden;
}

.nav-page-dananke .list-item-label-dananke {
    color: rgba(255, 255, 255, .8);
    padding-right: .4em;
}

.nav-page-dananke .list-dananke {
    overflow: visible;
}

.nav-page-dananke .list-dananke .list-item-dananke {
    align-items: center;
    background-color: var(--main-nav-bg-colour, #00449e);
    border: 1px solid var(--main-nav-bg-colour, #00449e);
    border-radius: 9999px;
    color: rgba(255, 255, 255, .8);
    display: flex;
    flex: 1 0 min-content;
    flex-flow: row nowrap;
    justify-content: center;
    list-style: none;
    margin-bottom: 1rem;
    margin-right: .4em;
    min-height: 48px;
    min-width: 48px;
    max-width: 30%;
    overflow: visible;
}

.nav-page-dananke .list-dananke .list-item-dananke .link-dananke {
    color: rgba(255, 255, 255, .8);
    display: inline-block;
    max-height: 100%;
    overflow: hidden;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap;
    width: 100%;
}

.nav-page-dananke .list-dananke .list-item-dananke {
    &:active,
    &:focus,
    &:hover {
        background-color: rgba(255, 255, 255, .8);
        color: var(--main-nav-bg-colour, #00449e);

        & .link-dananke {
            color: var(--main-nav-bg-colour, #00449e);
            text-decoration: underline;
        }
    }
}

.nav-page-dananke .list-dananke .list-item-dananke .list-item-label-dananke {
    display: none;
}

.nav-page-dananke .list-item-dananke.section-other-newer .link-dananke::before {
    content: "«";
}

.nav-page-dananke .list-item-dananke.section-other-newer .link-dananke::after {
    content: "«";
}

.nav-page-dananke .list-item-dananke.section-newer .link-dananke::before {
    content: "‹";
}

.nav-page-dananke .list-item-dananke.section-newer .link-dananke::after {
    content: "‹";
}

.nav-page-dananke .list-item-dananke.up-level .link-dananke::before {
    content: "^";
}

.nav-page-dananke .list-item-dananke.up-level .link-dananke::after {
    content: "^";
}

.nav-page-dananke .list-item-dananke.section-older .link-dananke::before {
    content: "›";
}

.nav-page-dananke .list-item-dananke.section-older .link-dananke::after {
    content: "›";
}

.nav-page-dananke .list-item-dananke.section-other-older .link-dananke::before {
    content: "»";
}

.nav-page-dananke .list-item-dananke.section-other-older .link-dananke::after {
    content: "»";
}

@media screen and (min-width: 48rem) {
    .site-footer {
        flex-flow: row wrap;
        font-size: 1.125em;
    }

    .list-dananke {
        align-items: center;
        padding-left: 2rem;
        padding-right: 2rem;
        width: 100%;
    }

    .lang-item {
        font-size: 1.25rem;
    }

    .contact-form-article .main-article-content {
        width: 36em;
    }

    .featured-image-link {
        display: flex;
    }

    .featured-image {
        display: block;
    }

    .site-header-with-image {
        height: 70vh;
        min-height: 70vh;
    }

    .site-header {
        margin-bottom: 2rem;
    }

    .site-image {
        max-width: 20rem;
    }

    .site-link {
        flex: 0 1 auto;
    }

    .main-navigation {
        align-items: center;
        flex-flow: row wrap;
        font-size: 1.125em;
        padding: 1rem;
    }

    .main-navigation-with-image {
        justify-content: flex-start;
    }

    .main-nav-details {
        & summary,
        & .main-navigation-mobile {
            display: none;
            visibility: hidden;
        }
    }

    .main-nav-details + .main-navigation {
        display: flex;
        visibility: visible;
        z-index: 1;
    }

    .title-menu-list,
    .site-footer-link-list {
        flex: 1 1 min-content;
    }

    .title-menu-list {
        margin-bottom: 0;
    }

    .lang-list {
        flex: 0 1 auto;
        justify-self: flex-start;
    }

    .main-article {
        padding-left: 3rem;
        padding-right: 3rem;
        width: 42em;
    }

    .main-block .articles-summaries.text-only {
        max-width: 42em;
    }

    .main-block .articles-summaries {
        flex-wrap: wrap;
        padding-left: 2rem;
        padding-right: 2rem;
        width: 100%;
        max-width: 58rem;
    }

    .article-summary {
        flex-direction: row;
        justify-content: flex-start;
    }

    .article-summary .summary-link {
        flex: 0 0 20rem;
        margin-bottom: 0;
        order: 1;
        padding-right: 1rem;
        width: 20em;
    }

    .summary-image {
        margin-right: .5rem;
        max-height: 9em;
    }

    .article-summary .summary-contents {
        order: 2;
    }

    .summary-contents {
        flex: 1 1 36rem;
    }

    .summary-byline {
        font-size: 1.25rem;
    }

    .summary-from-metadata {
        font-size: 1.33rem;
    }

    .summary-from-metadata {
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
    }

    .summary-title.text-only,
    .summary-from-metadata {
        margin-left: 0;
    }
}

@media screen and (min-width: 84rem) {
    .main-block {
        font-size: 1.75rem;
    }

    .main-article {
        max-width: 44em;
    }

    .main-block .articles-summaries.text-only {
        max-width: 44em;
    }

    .contact-form-article .main-article-content {
        width: 100%;
        margin-right: unset;
        max-width: 42em;
    }

    .main-article-context-menu {
        max-width: 42em;
    }

    .list-dananke {
        padding-left: .5rem;
        padding-right: .5rem;
    }

    .site-link {
        flex: 0 1 max-content;
        margin-right: 1rem;
        max-width: 96rem;
        padding-bottom: 0;
    }

    .title-menu-item,
    .title-nav-item {
        padding-bottom: 0;
    }

    .social-title-link {
        padding-bottom: 0;
    }

    .list-article,
    .main-block .page-footnote {
        padding-left: 4rem;
        padding-right: 4rem;
        text-align: center;
    }

    .article-summary {
        padding-left: 0;
        padding-right: 0;
    }

    .page-title-banner {
        font-size: 3rem;
    }

    .page-description-banner {
        font-size: 1.5rem;
        max-width: 34em;
    }

    .homepage-title-banner {
        font-size: 5rem;
    }

    .homepage-description-banner {
        font-size: 2rem;
        max-width: 34em;
    }

    .site-header .page-title-banner {
        font-size: 3rem;
    }
    
    .site-header .page-description-banner {
        font-size: 1.5rem;
    }

    .site-header .homepage-title-banner {
        font-size: 5rem;
    }

    .site-header .homepage-description-banner {
        font-size: 2rem;
    }
}

.about-photo {
    display: inline-block;
    vertical-align: middle;
}

.side-by-figure {
    display: inline-block;
    width: 31%;
}

.side-by-figure a {
    display: block;
    height: 100%;
    width: 100%;
}

.side-by-figure img {
    height: auto;
    width: 100%;
}

.presentation-pdf {
    display: block;
    height: 100vh;
    width: 100%;
}

.resume-pdf {
    display: block;
    height: 100vh;
    width: 100%;
}

.main-article .main-article-content.about-page {
    width: 100%;
}

.main-article .armshorian-article-content .highlight {
    min-width: unset;
    overflow-x: scroll;
    max-width: 100%;
}

.markdown-image-link {
    display: block;
    margin-bottom: 1em;
    max-width: 100%;
}

.markdown-image {
    display: block;
    height: auto;
    max-height: 50vh;
    max-width: 100%;
    width: auto;
}

#status {
    margin-bottom: .5rem;
}

#status + p {
    margin-bottom: 0;
    padding-bottom: 0;
}

#status + p a {
    align-items: center;
    display: inline-flex;
    flex-flow: row nowrap;
    margin-right: 1em;
    min-height: 48px;
    min-width: 48px;
    vertical-align: middle;
}

.introduction-card {
    display: inline-block;
    height: 250px;
    width: 22rem;
    vertical-align: middle;
}

.introduction-card-object {
    display: block;
    height: 100%;
    width: 100%;
}

main table {
    border-collapse: collapse;
    margin-bottom: 1rem;
    width: 100%;
}

main table tr th {
    background-color: silver;
    border-bottom: 4px ridge;
    border-left: 4px ridge;
    border-top: 4px ridge;
    text-align: left;
    width: max-content;
}

@supports (text-align: start) {
    main table tr th {
        text-align: start;
    }
}

main table tr th:last-of-type {
    border-right: 4px ridge;
}

main table tr td {
    border-bottom: 2px solid;
    border-left: 2px solid;
    width: max-content;
}

main table tr td:last-of-type {
    border-right: 2px solid;
    min-width: 50%;
}

main table tbody tr:nth-of-type(even) {
    background-color: lightgray;
}

.main-block .highlight {
    min-width: min-content;
}

.main-block pre {
    background-color: #191919;
    color: #dfdfdf;
    min-width: min-content;
    padding: .4em;
    white-space: pre-wrap;
}

.main-block .highlight>pre {
    min-width: min-content;
    white-space: pre-wrap;
}

.main-block pre>code {
    min-width: min-content;
}

.main-block .highlight>pre>code {
    margin: 0;
    min-width: min-content;
    padding: 0;
}

.resume-pdf-object {
    display: block;
    height: 100%;
    width: 100%;
}

.presentation-pdf-object {
    display: block;
    height: 100%;
    width: 100%;
}

@media screen and (min-width: 44em) {
    .resume-pdf {
        height: 75vh;
    }

    .presentation-pdf {
        height: 75vh;
    }
}

