{{- define "main" -}}
    {{- $ctx := . }}
    {{- $page_title_metadata := partial "helpers/return-metadata" (dict "page" .Page "requestedData" (slice "title-page" "summary")) -}}
    <article class="list-article{{ with .Params.articleClassExtra }} {{ . }}{{ end }}{{ if not (.Params.headerTextOmit | default .Params.omit_header_text | default false) }} no-article-header{{ end }}">
    {{- if .Params.headerTextOmit | default .Params.omit_header_text }}
        <header class="main-header">
            <h1 class="main-title">
            {{- index $page_title_metadata "title-page" }}
            </h1>
        </header>
    {{- end }}
        {{- partial "handle-content" .Content }}
    </article>
    {{ partial "summary-list.html" (dict "page" .Page  "pages" .Pages "section" .Sections "sectionName" "Articles") }}
    {{- template "_internal/pagination.html" . }}
    {{- with .Params.page_footnote | default .Params.footnotePage }}
    <div class="page-footnote">{{- . | $ctx.RenderString -}}</div>
    {{- end -}}
{{- end -}}
