{{ define "main" }}
  {{- $ctx := . }}
  <article class="pa3 pa4-ns nested-copy-line-height">
    {{- if .Params.omit_header_text }}
    <header>
      <h1 class="f1">
        {{- $page_title_metadata := partial "helpers/return-metadata" (dict "page" .Page "requestedData" (slice "title-page" "summary")) -}}
        {{- index $page_title_metadata "title-page" }}
      </h1>
    </header>
    {{- end }}
    <section class="cf ph3 ph5-l pv3 pv4-l f3 tc-l center measure-wide lh-copy {{ $.Param "text_color" | default "dark-gray" }}">
      {{- partial "handle-content" .Content }}
    </section>
    <section class="flex-ns flex-wrap justify-around mt5 w-100 w-70-ns mh-auto">
      {{- $pages := union .Pages .Sections -}}
      {{- range (.Paginate $pages).Pages.ByPublishDate.Reverse }}
        <div class="relative w-100 mb4">
          {{- .Render "summary-with-image" }}
        </div>
      {{- end }}
    </section>
    {{- template "_internal/pagination.html" . }}
  </article>
  {{- with .Params.page_footnote }}
  <div>{{- . | $ctx.RenderString -}}</div>
  {{- end -}}
{{- end -}}