{{- define "main" -}}
    {{- $ctx := . }}
    <article class="list-article">
    {{- if .Params.headerTextOmit | default .Params.omit_header_text }}
        <header>
            <h1 class="main-title">
            {{- $page_title_metadata := partial "helpers/return-metadata" (dict "page" .Page "requestedData" (slice "title-page" "summary")) -}}
            {{- index $page_title_metadata "title-page" }}
            </h1>
        </header>
    {{- end }}
        {{- partial "handle-content" .Content }}
    </article>
    <div class="articles-summaries">
        {{- $pages := (((union .Pages .Sections).ByWeight).ByPublishDate).Reverse -}}
        {{- range (.Paginate $pages).Pages }}
            {{- .Render "summary-with-image" }}
        {{- end }}
    </div>
    {{- template "_internal/pagination.html" . }}
    {{- with .Params.page_footnote }}
    <div>{{- . | $ctx.RenderString -}}</div>
    {{- end -}}
{{- end -}}