{{ define "main" }}
  <div class="flex-l mt2 mw8 center">
    <article class="center cf pv5 ph3 ph4-ns mw7">
      <header>
        {{ if not .Params.omit_header_text }}
        <h2 class="f2">
          {{- $page_title_metadata := partial "helpers/return-metadata" (dict "page" .Page "requestedData" (slice "title-page")) -}}
          {{- index $page_title_metadata "title-page" }}
          </h2>
        {{ else }}
        <h1 class="f1">
          {{- $page_title_metadata := partial "helpers/return-metadata" (dict "page" .Page "requestedData" (slice "title-page")) -}}
          {{- index $page_title_metadata "title-page" }}
          </h1>
        {{ end }}
      </header>
      <div class="nested-copy-line-height lh-copy f3 nested-links nested-img mid-gray">
        {{ partial "handle-content" .Content }}
      </div>
    </article>
  </div>
{{ end }}
