{{ define "main" }}
  <article class="main-article list-article">
    <section class="main-article-content">
      {{- if .Params.headerTextOmit | default .Params.omit_header_text | default false }}
      <h1 class="main-title">
        {{- $pageTitleMetadata := partial "helpers/return-metadata" (dict "page" .Page "requestedData" (slice "title-page")) -}}
        {{- index $pageTitleMetadata "title-page" }}
      </h1>
      {{- end -}}
      {{- partial "handle-content" .Content -}}
    </section>
    <section class="sitemap-list-block sectionmap">
        {{ $maxDepth := .Params.sectionMaxDepth | default .Site.Params.sectionMaxDepth | default 2 }}
        {{ partial "walk.html" (dict "page" . "maxDepth" $maxDepth "curDepth" 1 "showNumBelow" true) }}
    </section>
  </article>
{{ end }}
