{{- $page_metadata := partial "helpers/return-metadata" (dict "page" .Page "requestedData" (slice "title-page" "summary")) }}
            <article class="article-summary">
    {{- $featured_image := partial "helpers/featured-image" .Page -}}
    {{- if $featured_image }}
                {{- partial "helpers/wrapped-image" (dict "page" .Page "image" $featured_image "thumbnails" true "fullSize" true "alt" (printf "image from %s" (index $page_metadata "title-page")) "noImageWrapper" true "link" .Page.RelPermalink "linkClass" "summary-link" "class" "summary-image") -}}
    {{- else -}}
                <div class="summary-link"><div class="summary-image">&nbsp;</div></div>
    {{- end }}
                <section class="summary-contents">
                    <h2 class="summary-title"><a href="{{ .RelPermalink }}" class="summary-title-link">{{- index $page_metadata "title-page" -}}</a></h2>
                    <div class="summary-from-metadata">
                        {{ index $page_metadata "summary" }}
                    </div>
                    <p class="summary-byline">By {{ .Page.Params.author | default .Page.Site.Params.author | default .Author }} on {{ .Page.PublishDate.Local.Format "January 2, 2006" }}</p>
                </section>
            </article>
{{- /* Remove trailing newlines */ -}}
