{{- define "main" -}}
    {{- $data := .Data }}
    <article class="list-article">
        <div class="main-article-content">
        {{- partial "handle-content" .Content -}}
        </div>
    </article>
    <section class="main-article terms-block" aria-label="{{ i18n "listOfTitle" | default "List of" }} {{ $data.Plural | humanize | lower }}">
        <ul class="terms-list">
            {{- range $key, $value := .Data.Terms }}
                <li class="terms-item"><a class="terms-link" href="{{ (printf "/%s/%s" ($.Data.Plural | urlize) ($key | urlize)) | relLangURL }}">
                {{ $key }} ({{ .Count }})</a></li>
            {{- end }}
        </ul>
    </section>
    {{- if gt (len .Site.Taxonomies) 1 }}
    <aside class="terms-taxonomies-aside terms-block subtle-notice">
        <h2 class="terms-taxonomies-title subtle-notice-title">{{ i18n "seeMoreTaxonomies" | default "See more taxonomies" }}</h2>
        <ul class="terms-taxonomies-list subtle-notice-list">
            {{- range $key, $value := .Site.Taxonomies }}
                <li class="taxonomies-list-item subtle-notice-list-item"><a class="taxonomies-link subtle-notice-link" href="{{ (printf "/%s" ($key | urlize)) | relLangURL }}">{{ $key | pluralize }}</a></li>
            {{- end }}
        </ul>
    </aside>
    {{- end -}}
{{- end -}}
{{- define "page-navigation-block" -}}
{{- /* no other page nav on taxonomy pages */ -}}
<span></span>
{{- end -}}
{{- /* Remove tailing newlines */ -}}
