{{- define "main" -}}
    {{- $data := .Data }}
    <article class="list-article">
        <div class="main-article-content">
        {{- partial "handle-content" .Content -}}
        </div>
    </article>
    <section class="main-article terms-block">
        <h2 class="terms-title">{{ i18n "listOfTitle" | default "List of" }} {{ $data.Plural | humanize | lower }}</h2>
        <ul class="terms-list">
            {{- range $key, $value := .Data.Terms }}
                <li class="terms-item"><a class="terms-link" href="{{ (printf "/%s/%s" ($.Data.Plural | urlize) ($key | urlize)) | relLangURL }}">
                {{ $key }} ({{ .Count }})</a></li>
            {{- end }}
        </ul>
    </section>

{{- end -}}
{{- /* Remove trailing newlines */ -}}
