{{ define "main" }}
  <article class="main-article list-article">
    <section class="main-article-content">
      {{- if .Params.headerTextOmit | default .Params.omit_header_text | default false }}
      <h1 class="main-title">
        {{- $pageTitleMeatadata := partial "helpers/return-metadata" (dict "page" .Page "requestedData" (slice "title-page")) -}}
        {{- index $pageTitleMeatadata "title-page" }}
      </h1>
      {{- end -}}
      {{- partial "handle-content" .Content -}}
    </section>
    <section class="sitemap-list-block">
    {{- partial "walk.html" site.Home.Data -}}
    </section>
  </article>
{{ end }}
