{{- $self_close := eq ( .Params.emptyElementStyle | default .Site.Params.emptyElementStyle ) "self-close" }}
<head>
    <meta charset="utf-8"{{ if $self_close }} /{{ end }}>
    <meta name="viewport" content="width=device-width,initial-scale=1"{{ if $self_close }} /{{ end }}>
    {{- partialCached "helpers/head/head-basics.html" . . -}}
    {{- partialCached "helpers/head/engines-bots.html" . . -}}
    {{- partialCached "helpers/head/resources-pipes.html" . . }}
    {{- partialCached "helpers/head/metadata.html" . . -}}
    {{- if eq (.Param "useBaseURL") true -}}{{- if $.Site.BaseURL }}
    <base href="{{ $.Site.BaseURL }}"{{ if $self_close }} /{{ end }}>{{- end }}
    {{- end -}}
    {{- partial "head-additions.html" . }}
</head>
{{- /* Remove trailing newlines */ -}}
