{{- /* By using .Page.Title, .Page.Kind, .Page.Content and .Page.File this is 'shortcode safe' */ -}}
{{- $foundTitle := "" -}}
{{- $contentTitle := "" -}}
{{- $siteTitle := "" -}}
{{/* Only allowed one h1 per page */}}
{{- if eq (len (findRE "<h1.*?>(.|\n)*?</h1>" .Page.Content)) 1 -}}
    {{- range (findRE "<h1.*?>(.|\n)*?</h1>" .Page.Content 1) -}}
        {{- $contentTitle = . -}}
    {{- end -}}
{{- else if gt (len (findRE "<h1.*?>(.|\n)*?</h1>" .Page.Content)) 1 -}}
    {{- errorf "More than one H1 element in content. This is against recommended best practises: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/Heading_Elements#multiple_h1_elements_on_one_page" -}}
{{- end -}}
{{- if .Page.Title -}}
    {{- $foundTitle = .Page.Title -}}
{{- else if .Page.Params.Title -}}
    {{- $foundTitle = .Page.Params.Title -}}
{{- else if $contentTitle -}}
    {{- $foundTitle = $contentTitle -}}
{{- else if eq .Page.Kind "home" -}}
    {{- $siteTitle = partial "site-title" . -}}
    {{- $foundTitle = $siteTitle -}}
{{- else if eq $foundTitle "" -}}
    {{- if .Page.File -}}
       {{- if .Page.File.ContentBaseName -}}
            {{ $foundTitle = .Page.File.ContentBaseName | humanize | title -}}
        {{- end -}}
    {{- end -}}
{{- end -}}
{{- if eq $foundTitle "" -}}
    {{- $foundTitle = (i18n "untitledPage") -}}
{{- end -}}
{{- return $foundTitle -}}