{{- if ne (.Param "hideSitePageNavigation") true -}}
{{- /* Show page navigation bar: newer | newer (this section) | Up a Level (or At Top) | older (this section) | older */ -}}
{{- /* Navigation labels may be hidden via CSS so that only the CSS and symbols appear (to save screen real estate) */}}
    {{- $upLevel := .Parent -}}
    {{- $newScratch := newScratch -}}
    {{- $newerInSection := $newScratch.Get "nonexistant-returns-nil" -}}
    {{- $olderInSection := $newScratch.Get "nonexistant-returns-nil" -}}
    {{- $newer := $newScratch.Get "nonexistant-returns-nil" -}}
    {{- $older := $newScratch.Get "nonexistant-returns-nil" -}}
    {{- if .Parent -}}
        {{- $siblings := partial "helpers/find-prev-next" .Page -}}
        {{- $newerInSection = $siblings.newerInSection -}}
        {{- $olderInSection = $siblings.olderInSection -}}
        {{- if .Parent.Parent -}}
            {{- $parentSiblings := partial "helpers/find-prev-next" .Parent.Page -}}
            {{- $newer = $parentSiblings.newerInSection -}}
            {{- $older = $parentSiblings.olderInSection -}}
        {{- end -}}
    {{- end }}
    <nav aria-label="{{ i18n "sitePageNavigation" | default "Inter-page navigation"}}" class="{{ .Param "barPageNav" | default "nav-page-dananke" }} {{ .Param "barButtonsNav" | default "nav-buttons-bar" }}">
        <ul class="{{ .Param "barListButtons" | default "list-buttons-bar" }} {{ .Param "barListPageNav" | default "list-dananke" }} {{ .Param "barLinks" | default "linkbar-dananke" }}">
            <li class="{{ .Param "barListItemButtons" | default "list-item-buttons-bar" }} {{ .Param "barListItemPageNav" | default "list-item-dananke" }}{{- if not $newer }} {{ .Param "barItemNoneButtons" | default "none-buttons-bar" }}{{- end }} section-other-newer">
        {{- if $newer -}}
                <a class="{{ .Param "barLinkButtons" | default "link-buttons-bar" }} {{ .Param "barLinkPageNav" | default "link-dananke" }}" href="{{ $newer.RelPermalink }}"><span class="{{ .Param "barListItemLabelButtons" | default "list-item-label-buttons-bar" }} {{ .Param "barListItemLabelPageNav" | default "list-item-label-dananke" }}">{{ i18n "newer" }}: </span>
            {{- partial "helpers/page-title.html" $newer -}}</a>
        {{- else -}}
                <span class="{{ .Param "barLinkButtons" | default "link-buttons-bar" }} {{ .Param "barLinkPageNav" | default "link-dananke" }}" aria-disabled="true"><span class="{{ .Param "barListItemLabelButtons" | default "list-item-label-buttons-bar" }} {{ .Param "barListItemLabelPageNav" | default "list-item-label-dananke" }}">{{ i18n "newer" }}: </span>&squarf;</span>
        {{- end -}}
            </li>
            <li class="{{ .Param "barListItemButtons" | default "list-item-buttons-bar" }} {{ .Param "barListItemPageNav" | default "list-item-dananke" }}{{- if not $newerInSection }} {{ .Param "barItemNoneButtons" | default "none-buttons-bar" }}{{- end }} section-newer">
        {{- if $newerInSection -}}
                <a class="{{ .Param "barLinkButtons" | default "link-buttons-bar" }} {{ .Param "barLinkPageNav" | default "link-dananke" }}" href="{{ $newerInSection.RelPermalink }}"><span class="{{ .Param "barListItemLabelButtons" | default "list-item-label-buttons-bar" }} {{ .Param "barListItemLabelPageNav" | default "list-item-label-dananke" }}">{{i18n "newerThisSection"}}: </span>
            {{- partial "helpers/page-title.html" $newerInSection -}}</a>
        {{- else -}}
                <span class="{{ .Param "barLinkButtons" | default "link-buttons-bar" }} {{ .Param "barLinkPageNav" | default "link-dananke" }}" aria-disabled="true"><span class="{{ .Param "barListItemLabelButtons" | default "list-item-label-buttons-bar" }} {{ .Param "barListItemLabelPageNav" | default "list-item-label-dananke" }}">{{i18n "newerThisSection"}}: </span>&squarf;</span>
        {{- end -}}
            </li>
            <li class="{{ .Param "barListItemButtons" | default "list-item-buttons-bar" }} {{ .Param "barListItemPageNav" | default "list-item-dananke" }}{{- if not $upLevel }} {{ .Param "barItemNoneButtons" | default "none-buttons-bar" }}{{- end }} up-level">
        {{- if .Parent -}}
                <a class="{{ .Param "barLinkButtons" | default "link-buttons-bar" }} {{ .Param "barLinkPageNav" | default "link-dananke" }}" href="{{ $upLevel.RelPermalink }}"><span class="{{ .Param "barListItemLabelButtons" | default "list-item-label-buttons-bar" }} {{ .Param "barListItemLabelPageNav" | default "list-item-label-dananke" }}">{{ i18n "upLevel" }}</span>
            {{- partial "helpers/page-title.html" $upLevel -}}</a>
        {{- else -}}
            <span class="{{ .Param "barLinkButtons" | default "link-buttons-bar" }} {{ .Param "barLinkPageNav" | default "link-dananke" }}"  aria-disabled="true"><span class="{{ .Param "barListItemLabelButtons" | default "list-item-label-buttons-bar" }} {{ .Param "barListItemLabelPageNav" | default "list-item-label-dananke" }}">{{ i18n "atTop" }}</span>&equiv;</span>
        {{- end -}}
            </li>
            <li class="{{ .Param "barListItemButtons" | default "list-item-buttons-bar" }} {{ .Param "barListItemPageNav" | default "list-item-dananke" }}{{- if not $olderInSection }} {{ .Param "barItemNoneButtons" | default "none-buttons-bar" }}{{- end }} section-older">
        {{- if $olderInSection -}}
                <a class="{{ .Param "barLinkButtons" | default "link-buttons-bar" }} {{ .Param "barLinkPageNav" | default "link-dananke" }}" href="{{ $olderInSection.RelPermalink }}"><span class="{{ .Param "barListItemLabelButtons" | default "list-item-label-buttons-bar" }} {{ .Param "barListItemLabelPageNav" | default "list-item-label-dananke" }}">{{ i18n "olderThisSection" }}: </span>
            {{- partial "helpers/page-title.html" $olderInSection -}}</a>
        {{- else -}}
                <span class="{{ .Param "barLinkButtons" | default "link-buttons-bar" }} {{ .Param "barLinkPageNav" | default "link-dananke" }}" aria-disabled="true"><span class="{{ .Param "barListItemLabelButtons" | default "list-item-label-buttons-bar" }} {{ .Param "barListItemLabelPageNav" | default "list-item-label-dananke" }}">{{ i18n "olderThisSection" }}: </span>&squarf;</span>
        {{- end -}}
            </li>
            <li class="{{ .Param "barListItemButtons" | default "list-item-buttons-bar" }} {{ .Param "barListItemPageNav" | default "list-item-dananke" }}{{- if not $older }} {{ .Param "barItemNoneButtons" | default "none-buttons-bar" }}{{- end }} section-other-older">
        {{- if $older -}}
                <a class="{{ .Param "barLinkButtons" | default "link-buttons-bar" }} {{ .Param "barLinkPageNav" | default "link-dananke" }}" href="{{ $older.RelPermalink }}"><span class="{{ .Param "barListItemLabelButtons" | default "list-item-label-buttons-bar" }} {{ .Param "barListItemLabelPageNav" | default "list-item-label-dananke" }}">{{ i18n "older" }}: </span>
            {{- partial "helpers/page-title.html" $older -}}</a>
        {{- else -}}
                <span class="{{ .Param "barLinkButtons" | default "link-buttons-bar" }} {{ .Param "barLinkPageNav" | default "link-dananke" }}" aria-disabled="true"><span class="{{ .Param "barListItemLabelButtons" | default "list-item-label-buttons-bar" }} {{ .Param "barListItemLabelPageNav" | default "list-item-label-dananke" }}">{{ i18n "older" }}: </span>&squarf;</span>
        {{- end -}}
            </li>
        </ul>
    </nav>
{{- end -}}
{{- /* Remove trailing newlines */ -}}
