{{- $curPage := .Page -}}
{{- $pageMetadata := partial "helpers/return-metadata" (dict "page" $curPage "requestedData" (slice "title-page" "description-no-fallback")) -}}
{{- $h1Class := "page-title-banner" -}}
{{- $h2Class := "page-description-banner" -}}
{{- if .IsHome }}
    {{- $h1Class = "page-title-banner homepage-title-banner" -}}
    {{- $h2Class = "page-description-banner homepage-description-banner" -}}
{{- end -}}
{{- if not (or $curPage.Params.omit_header_text $curPage.Params.headerTextOmit) }}
        <h1 class="{{ $h1Class }}">
    {{- index $pageMetadata "title-page" -}}
        </h1>
    {{- with (index $pageMetadata "description-no-fallback") }}
        <h2 class="{{ $h2Class }}">
        {{- . | safeHTML -}}
        </h2>
    {{- end -}}
{{- end }}
{{- /* Remove trailing newlines */ -}}
