<footer class="{{ .Site.Params.background_color_class | default "bg-black" }} bottom-0 w-100 pa3" role="contentinfo">
  <div class="flex flex-wrap justify-between">
  <a class="f4 fw4 hover-white no-underline white-70 dn dib-ns pv2 ph3 nowrap" href="{{ .Site.BaseURL }}" >
    {{ with .Site.Copyright | default .Site.Title }} {{ . | safeHTML }} {{ end }}
  </a>
  <a class="f4 fw4 hover-white no-underline white-70 dn dib-ns pv2 ph3" href="/contact">
    Contact
  </a>
  <a class="f4 fw4 hover-white no-underline white-70 dn dib-ns pv2 ph3" href="/about/user-sitemap">
    Sitemap
  </a>
  <a class="f4 fw4 hover-white no-underline white-70 dn dib-ns pv2 ph3" href="/tags">
    Tags
  </a>
    <div class="f4 fw4 hover-white no-underline white-70 pv2 ph3">{{ partial "social-follow.html" . }}</div>
  </div>
</footer>
