{{- /* Add newline before footer */}}
    <footer class="site-footer">
        <ul class="site-footer-link-list">
            <li class="footer-link-list-item"><a class="footer-copyright footer-link" href="{{ .Site.BaseURL }}">
        {{- with .Site.Copyright | default .Site.Title }} {{ . | safeHTML }} {{ end -}}
        </a></li>
    {{- with site.Menus.footer_links -}}
        {{- range . }}
            <li class="footer-link-list-item"><a class="footer-link" href="{{ .URL }}">{{ .Name }}</a></li>
        {{- end -}}
    {{- end }}
    {{- partial "social-follow.html" . }}
        </ul>
    </footer>
{{- /* Remove trailing newlines */ -}}
