{{- $curPage := .Page -}}
{{- $featuredImage := partial "helpers/featured-image" $curPage -}}
{{- partial "site-navigation.html" . -}}
{{- $page_metadata := partial "helpers/return-metadata" (dict "page" $curPage "requestedData" (slice "title-page" "description-no-fallback")) -}}
{{- $siteHeaderFeaturedClass := "" -}}
{{- if $featuredImage }}
    {{- $siteHeaderFeaturedClass = "site-header-with-image" -}}
{{- end }}
    <header class="site-header{{ with $siteHeaderFeaturedClass }} {{ . }}{{ end }}">
        {{- partial "site-header-titles" . }}
{{- if $featuredImage }}
        {{ partial "helpers/wrapped-image" (dict "page" .Page "image" $featuredImage "alt" (cond (isset $featuredImage "alt") $featuredImage.alt "") "title" (cond (isset $featuredImage "title") $featuredImage.title "") "link" "" "noVisibleCaption" true "noImageWrapper" true "class" "featured-image" "linkClass" "featured-image-link") -}}
{{- end }}
    </header>
{{- /* Remove trailing newlines */ -}}
