{{- /* By using .Page.Site this is 'shortcode safe' */ -}}
{{- $foundTitle := "" -}}
{{- $contentTitle := "" -}}
{{- if .Page.Site.Title -}}
    {{- $foundTitle = .Page.Site.Title -}}
{{- else if .Page.Site.Params.Title  -}}
    {{- $foundTitle = .Page.Site.Params.Title -}}
{{- else -}}
    {{- if .Page.Site.Home.Title -}}
        {{- $foundTitle = .Page.Site.Home.Title -}}
    {{- else if .Page.Site.Home.Page.Params.Title  -}}
        {{- $foundTitle = .Page.Site.Home.Page.Params.Title -}}
    {{- else -}}
        {{/* Only allowed one h1 per page */}}
        {{- if eq (len (findRE "<h1.*?>(.|\n)*?</h1>" .Page.Site.Home.Page.Content)) 1 -}}
            {{- range (findRE "<h1.*?>(.|\n)*?</h1>" .Page.Site.Home.Page.Content 1) -}}
                {{- $contentTitle = . -}}
            {{- end -}}
        {{- else if gt (len (findRE "<h1.*?>(.|\n)*?</h1>" .Page.Site.Home.Page.Content)) 1 -}}
            {{- errorf "More than one H1 element in content. This is against recommended best practises: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/Heading_Elements#multiple_h1_elements_on_one_page" -}}
        {{- end -}}
        {{- if ne $contentTitle "" -}}
            {{- $foundTitle = $contentTitle -}}
        {{- else -}}
            {{- $foundTitle = (i18n "untitledSite") -}}
        {{- end -}}
    {{- end -}}
{{- end -}}
{{- return $foundTitle -}}