{{ define "main" }}
    <article class="article-404 clear-fix">
      <h2 class="f2 center measure avenir tc pa3 mb5 db moon-gray bg-near-black br-pill">This is not the page you were looking for</h2>
      <ul class="f3 w-100 w-40-ns center navy bg-lightest-blue br4 pa4 ">
        {{- with .GetPage ( .Site.Params.sitemap404 | default "/about/user-sitemap") }}
        <li class="ml4 pa3">You may wish to view the <a class="dark-blue" href="{{ .RelPermalink }}">Site Map</a></li>
        {{- end }}
        <li class="ml4 pa3">Or go to the <a class="dark-blue" href="/">Home Page</a></li>
      </ul>
    </article>
{{ end }}