/* Put your custom styles here and run `npm start` from the "src" directory on */

#TableOfContents ul li {
  margin-bottom: 1em;
}

.lh-copy blockquote {
  display: block;
  font-size: .875em;
  margin-left: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-left: 4px solid #ccc;
  padding-left: 1rem;

}

.nested-links a{
  overflow-wrap: break-word;
}

.nested-img img {
  height: auto;
}

.me-100 {
  max-height: 100%;
}

.mxh9 {
  max-height: 9em;
}

.h-max-content {
  height: max-content;
}

.min-h-fit-content {
  min-height: fit-content;
}

.mh-auto {
  margin-left: auto;
  margin-right: auto;
}

.mvh-75 {
  min-height: 1vh;
  max-height: 75vh;
}

.w-mc {
  min-width: 1vw;
  width: max-content;
}

img[src*=".svg"].w-mc {
  width: auto;
}

.presentation-pdf div {
  overflow: auto;
  resize: both;
}

.presentation-pdf div object {
  border: 2px solid;
  display: block;
  height: 760px;
  margin-right: .8em;
  resize: both;
  width: 100%;
}

@media (max-height: 499px) {
  .presentation-pdf div object {
      height: 100vh;
  }
}

@media (max-height: 900px) {
  .presentation-pdf div object {
      height: 480px;
  }
}

.intro-card-pdf-gallery {
  display: inline-block;
  margin-left: .8em;
  margin-right: .8em;
  margin-top: .3em;
  text-align: center;
  vertical-align: baseline;
}

.intro-card-pdf-gallery div {
  height: 665px;
  overflow: auto;
  text-align: center;
  width: 700px;
}

.intro-card-pdf-gallery object {
  border: 2px solid;
  display: block;
  height: 100%;
  margin-right: .8em;
  width: 100%;
}
